Machine Learning Mastery with Python/Machine Learning Mastery with Python.pdf
Math_of_Intelligence/Classifying_Data_Using_a_Support_Vector_Machine-master.zip
Intro_to_ML/cs229-notes-all.zip
.vscode
Intro_to_Tensorflow/tensorflow_demo
requests-for-research
Books
Intro_to_Tensorflow/TensorFlow-Tutorials/.github
Intro_to_Tensorflow/TensorFlow-Tutorials/__pycache__
Intro_to_Tensorflow/tensorflow_demo/__pycache__
Intro_to_Tensorflow/tensorflow_demo/~
Intro_to_Tensorflow/TensorFlow-Tutorials/.ipynb_checkpoints
Intro_to_Tensorflow/TensorFlow-Tutorials/data